body{
  padding: 100px;
}

.paginateButton{
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #ada8a8;
  margin: 0 5px;
}
.paginateButton.disabled{
  background-color: #ccc;
  opacity: 0.5;
}
.paginateButton.active{
  background-color: #85b0d2;
}